.container-prices,
.flutter {
    overflow: hidden;
    width: 100%;
	height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	
    backdrop-filter: blur(7px);
    background: rgba(77, 77, 77, 0.5);

}

.container-prices{
    padding: 0 20px;
    img{
        height: 600px;
        
        @media (max-width: 766px) {
            height: auto;
        }
    }
}

// .prices-image{
//     display: block;

//     @media (max-width: 766px) {
//         display: none;
//     }
// }

// .prices-image-mobile{
//     display: none;

//     @media (max-width: 766px) {
//         display: block;
//     }
// }

.form {
    padding: 60px;
    width: 680px;
    height: 549px;
    border-radius: 30px;
    background: #ecf1f7;
    color: #453c41;

    @media (max-width: 766px) {
        padding: 25px;
        width: 280px;
        height: auto;
        border-radius: 10px;
    }
}

.form-title-wrapper {
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 766px) {
        margin-bottom: 20px;
    }
}

.form-title {
    width: 380px;
    font-weight: 700;
    font-size: 30px;
    
    @media (max-width: 766px) {
        width: 230px;
        font-size: 14px;
    }
}

.step-number{
    color: #036280;
}


.form-title-button {
    display: flex;
    gap: 30px;

    @media (max-width: 766px) {
        display: none;
        gap: 10px;
    }

    button{
        background: #ecf1f7;
    }
}


.form-prev-mobile{
    display: none;

    @media (max-width: 766px) {
        display: block;
    }
}

.form-prev-image {
    width: 27px;
    height: 24px;
    cursor: pointer;

    @media (max-width: 766px) {
        width: 15px;
        height: 12px;
    }
}

.form-close-image {
    pointer-events: none;
    width: 24px;
    height: 24px;
    cursor: pointer;

    @media (max-width: 766px) {
        display: none;

    }
}

.form-content-human-data{
    position: relative;
}

.form-content-human-data-step {
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 23px;

    @media (max-width: 766px) {
        margin-bottom: 15px;
        font-size: 12px;
    }
}

.form-data {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    @media (max-width: 766px) {
        margin-bottom: 15px;
        gap: 7px;
    }
}

.error-message {
    padding: 5px;
    width: 400px;
    position: absolute;
    top: 30px;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
    color: #721c24;

    @media (max-width: 766px) {
        padding: 10px;
        top: -10px;
        width: 200px;
    }
}

.error-text{
    @media (max-width: 766px) {
        font-size: 8px;
    }
}

.form-data-input.input-error{
    background-color: #f8d7da;
    border: 1px solid #721c24;
}


.form-data-input {
    padding-left: 30px;
    width: 400px;
    height: 45px;
    border: 1px solid #453c41;
    border-radius: 15px;
    background: #ecf1f7;

    @media (max-width: 766px) {
        padding-left: 10px;
        width: 200px;
        height: 26px;
        border-radius: 10px;
    }

}

.form-button {
    display: flex;
    align-items: center;

    @media (max-width: 766px) {
        margin-bottom: 10px;
        flex-direction: column;
        align-items: start;
        gap: 10px;
    }
}

.form-button-verify,
.form-button-continued {
    margin-right: 55px;
    width: 159px;
    height: 49px;
    border-radius: 30px;
    background: #036280;
    font-weight: 700;
    font-size: 16px;
    color: #ecf1f7; 

    @media (max-width: 766px) {
        margin-right: 0;
        width: 80px;
        height: 22px;
        font-size: 10px;
    }
}

.form-button-text{
    width: 350px;
    font-weight: 400;
    font-size: 14px;
    color: #a6a6a6;

    @media (max-width: 766px) {
        width: 200px;
        font-size: 8px;
    }
}


.checkbox-block {
    display: flex;
    align-items: center;
    gap: 20px;

    @media (max-width: 766px) {
        gap: 10px;
    }
}

.checkbox-block__real {
    display: none;
}

.checkbox-block__fake {
    position: relative;
    display: block;
    width: 29px;
    height: 29px;
    border: 1px solid #453c41;
    border-radius: 30px;

    @media (max-width: 766px) {
        width: 14px;
        height: 14px;
        border-radius: 10px;
    }
}

.checkbox-block__fake::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    background-image: url('/img/svg/checked.svg');
    background-size: cover;
    transform: translate(-50%, -50%);
    display: none;

    @media (max-width: 766px) {
        width: 6px;
        height: 6px;
    }
}

.checkbox-block__real:checked + .checkbox-block__fake::before {
    display: block;
}

.checkbox-block__text {
    font-weight: 400;
    font-size: 18px;

    @media (max-width: 766px) {
        font-size: 8px;
    }
}

.form-data-input-date-wrapper{
    display: flex;
    align-items: center;
    gap: 20px;

    @media (max-width: 766px) {
        gap: 10px;
    }
}

.form-group-input-data {    
    padding-left: 30px;
    display: flex;
    align-items: center;
    position: relative;
    width: 131px;
    height: 45px;
    border: 1px solid #453c41;
    border-radius: 15px;
    background: #ecf1f7;

    @media (max-width: 766px) {
        padding-left: 10px;
        width: 53px;
        height: 26px;
        border-radius: 10px;
    }
}

.date-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    color: transparent;
    cursor: pointer;
}

.label{
    margin-right: 5px;
    font-weight: 500;
    font-size: 16px;
    color: #adadad;

    @media (max-width: 766px) {
        font-size: 8px;
    }
}

.form-order-call-checkbox {
    position: relative;
    padding-top: 20px;
    display: flex;
    align-items: center;
    width: 170px;
    
    @media (max-width: 766px) {
        padding-top: 10px;
        width: auto;
    }
}

.toggle-button {
    svg{
        width: 20px;
        height: 20px;

        @media (max-width: 766px) {
            width: 8px;
            height: 8px;
        }
    }

}

.form-order-call-select-container-button{
    display: flex;
    align-items: center;
}

.form-order-call-checkbox-title {
    margin-right: 15px;
    font-weight: 400;
    font-size: 18px;

    @media (max-width: 766px) {
        margin-right: 5px;
        font-size: 8px;
    }
}

.form-order-call-block {
    position: absolute;
    top: 55px;
    width: 174px;
    height: 150px;
    border: 1px solid #453c41;
    border-radius: 15px;
    background: #ecf1f7;

    @media (max-width: 766px) {
        top: 40px;
        width: 80px;
        height: 70px;
        border-radius: 10px;
    }
}

.form-order-call-list {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    
    @media (max-width: 766px) {
        padding-top: 10px;
        gap: 10px;
    }
}

.form-order-call-list li {
    font-weight: 400;
    font-size: 18px;
    color: #453c41;
    cursor: pointer;

    @media (max-width: 766px) {
        font-size: 8px;
    }
}

.form-order-call-list li:hover{
    color: #aa0d0d;
}

.thanks-modal-wrapper {
    padding: 60px 32px;
    width: 500px;
    border-radius: 30px;
    background: #ecf1f7;

    @media (max-width: 766px) {
        padding: 25px;
        width: 213px;
        border-radius: 10px;
    }

}
.thanks-modal {
    color: #453c41;

    p{
        font-weight: 400;
        font-size: 18px;

        @media (max-width: 766px) {
            font-size: 8px;
        }
    }
}
.thanks-modal-text-title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 30px;

    @media (max-width: 766px) {
        margin-bottom: 15px;
        font-size: 14px;
    }
}